.env
#Buidler files
cache
artifacts
node_modules
dist/
build/
.vscode
.idea
/types

deployed-contracts.json

coverage
.coverage_artifacts
.coverage_cache
.coverage_contracts


.env
.env.local

.DS_Store

# Forge
forge-artifacts/
forge-cache/
cache_forge/
out/
broadcast/*/*/dry-run
broadcast/*/*/test deployments